---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');

/* Everything above this is the bare minimum */

/* Everything below this is my own customizations */

a {
 color:#FA8072;
}

a:hover,
a:focus {
 color:#FFA07A;
}
a small {
 color:#FF7F50;
}
a:hover small {
 color:#FFA07A
}

/* body means everything, the default for the page */
body {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 105%;
}

/* these are the headers */
h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
 font-family:'Open Sans', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  color: #FF7F50;
  font-family:'Open Sans', 'Arial Narrow', Arial, sans-serif;
  font-size:medium;
}

header h1 a {
 font-size: 1.2em;
 color: #FF7F50;
}

header h1 a:hover {
 font-size: 1.2em;
 color: #FFA07A;
}

header h2 a {
 font-size: 1.2em;
 color: #2165ac;
}

header h2 a:hover {
 font-size: 1.2em;
 color: #92c6de;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
  }
  
.flex-container > div {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 105%;
  }
  
figure {
    display: inline-block;
    margin: 10px; /* adjust as needed */
  }
figure img {
    vertical-align: top;
  }
figure figcaption {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80%;
  }